@import "scss/mixins.scss";
@import "scss/variables.scss";

.main {
  margin: 70px 0;
}

.container {
  @include container-center($main-container-width);
  
  display: flex;
  justify-content: space-between;
  row-gap: 60px;

  @media screen and (max-width: 992px) {
    flex-direction: column;
  }
}

