/* CONTAINERS */

$main-container-width: 80%;
$menu-container-width: 67%;
$cart-container-width: 20%;

/* COLORS */

$main-color: #587C8B;
$secondary-color: #FFD9A1;
$white-color: #FFFFFF;
$black-color: #000000;
$background-color: #EFF6F6;

/* FONT FAMILY */

$main-font: Lifehack Sans, sans-serif;
$secondary-font: Gilroy, sans-serif;

/* FONT SIZE */

$header-desc-font-size: 16px;
$footer-desc-font-size: 18px;
$empty-cart-desc-font-size: 14px;

$h1-font-size: 16px;
$h2-font-size: 32px;
$h3-font-size: 26px;

$card-desc-font-size: 12px;
$card-price-font-size: 28px;
$card-button-font-size: 20px;
$amount-controls-font-size: 26px;

$cart-price-font-size: 24px;
$cart-total-price-font-size: 28px;
$cart-button-font-size: 24px;

/* BORDER RADIUS */

$border-radius-creative: 20px 0px;
$border-radius-all: 8px;

